<template>
  <v-container
    fluid
    grid-list-lg
  >
    <v-layout row wrap>
      <v-flex v-for="channel in items" :key="channel.id">
        <v-card width="240" class="white--text">
          <v-img
            :src="channel.meta.thumbnails.medium.url"
            height="240px"
            contain
          />

          <v-card-title>
            <div>
              <div class="headline">
                {{ channel.name }}
              </div>
            </div>
          </v-card-title>
          <v-divider light />
          <v-card-actions class="pa-3">
            <v-spacer />
            <v-btn color="primary" :to="{name: 'Watch', params: { channelId: channel.id } }">
              Watch <v-icon>play_arrow</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout>
      <div class="text-xs-center">
        <v-pagination
          v-model="pagination.page"
          :length="lastPage"
        />
      </div>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      items: [],
      lastPage: 1,
      pagination: {
        rowsPerPage: 50,
        page: 1,
        sortBy: 'created_at',
      },
    }
  },
  watch: {
    pagination: {
      handler () {
        this.refresh()
      },
      deep: true,
    },
  },
  beforeMount() {
    this.refresh()
  },
  methods: {
    refresh () {
      this.loading = true
      this.$store.dispatch('channels/getList', this.pagination)
        .then(({ data, lastPage }) => {
          this.loading = false
          this.items = data
          this.lastPage = lastPage
        })
    },
  },


}
</script>
