<template>
  <v-layout wrap>
    <v-flex
      xs12
      sm8
      md8
    >
      <div>
        <plyr v-if="current.youtube_id" :youtube-id="current.youtube_id" @end="onEnd" />
      </div>
      <div>
        <v-container fluid class="pa-0">
          <v-layout row wrap>
            <v-flex xs3>
              <v-btn flat icon color="pink">
                <v-icon>favorite</v-icon>
              </v-btn>
            </v-flex>

            <v-flex xs3>
              <v-btn flat icon color="indigo">
                <v-icon>star</v-icon>
              </v-btn>
            </v-flex>

            <v-flex xs3>
              <v-btn flat icon color="green">
                <v-icon>cached</v-icon>
              </v-btn>
            </v-flex>

            <v-flex xs3>
              <v-btn flat icon color="deep-orange">
                <v-icon>thumb_up</v-icon>
              </v-btn>
            </v-flex>
          </v-layout>
        </v-container>
      </div>
    </v-flex>
    <v-flex xs12
            sm4
            md4
            class="pl-1"
    >
      <div class="flex-hack">
        <v-card v-for="item in items" :key="item.id" class="mb-1">
          <v-img
            :src="item.meta.thumbnails.medium.url"
            height="125"
            class="grey darken-4 pointer"
            @click="selectVideo(item)"
          />
          <v-card-title class="title pointer" @click="selectVideo(item)">
            <v-icon v-if="item.id === current.id">
              play_arrow
            </v-icon>
            {{ item.name }}
          </v-card-title>
        </v-card>

        <v-btn v-if="hasMore" block @click="load">
          Load More
        </v-btn>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
import plyr from '@/components/plyr'

export default {
  components: {
    plyr,
  },

  props: {
    channelId: {
      type: String,
      required: true,
    },
  },

  data() {
    return {
      items: [],
      loading: false,
      hasMore: true,
      current: {},
    }
  },

  async mounted() {
    await this.load()
    await this.selectVideo(this.items[0])
  },

  methods: {

    async selectVideo(item) {
      this.current = item
    },

    async onEnd() {
      let index = this.items.indexOf(this.current)
      if (index + 1 === this.items.length) {
        if (this.hasMore) {
          await this.load()
        } else {
          return this.selectVideo(this.items[0])
        }
      }
      await this.selectVideo(this.items[index + 1])
    },

    async load() {
      this.loading = true

      try {
        const data = await this.$store.dispatch('videos/getList', {
          offset: this.items.length,
          channel_id: this.channelId,
        })

        if (data.length < 20) {
          this.hasMore = false
        }

        this.items.push(...data)
      } catch (e) {
        this.$toast.error('Unknown error')
      } finally {
        this.loading = false
      }
    },
  },

}
</script>

<style scoped>
  .pointer {
    cursor: pointer;
  }
  @media (min-width: 600px) {
    .flex-hack {
      display: block;
      position: fixed;
      bottom: 42px;
      overflow-y: scroll;
      top: 88px;
    }
  }
</style>
