<template>
  <div ref="player" class="plyr__video-embed">
    <iframe
      :src="`https://www.youtube.com/embed/${youtubeId}?iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1`"
      allowfullscreen
      allowtransparency
      allow="autoplay"
    />
  </div>
</template>

<script>
import Plyr from 'plyr'
import 'plyr/dist/plyr.css'

export default {
  props: {
    youtubeId: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      player: null,
    }
  },
  watch: {
    youtubeId: {
      immediate: true,
      handler (val) {
        this.play(val)
      },
    },
  },
  mounted() {
    this.player = new Plyr(this.$refs.player)

    this.player.on('statechange', (event) => {
      if (event.detail.code === 0) {
        this.$emit('end', event)
      }
    })

    this.player.on('ready', () => {
      this.player.play()
    })
  },
  methods: {
    play(videoId) {
      this.player.source = {
        type: 'video',
        sources: [
          {
            src: videoId,
            provider: 'youtube',
          },
        ],
      }
    },
  },
}
</script>
