<template>
  <v-dialog v-model="isOpen" max-width="500px">
    <v-card>
      <v-card-title>
        <span v-if="isNew" class="headline">New Channel</span>
        <span v-else-if="isEditable" class="headline">Edit Channel</span>
      </v-card-title>

      <v-card-text>
        <v-container grid-list-md>
          <v-layout wrap>
            <v-flex md12>
              <v-form
                ref="form"
                v-model="valid"
                lazy-validation
              >
                <fieldset :disabled="!isEditable">
                  <v-text-field
                    v-model="item.youtube_url"
                    v-validate="'required'"
                    label="Youtube Channel URL"
                    required
                    :error-messages="errors.collect('youtube_url')"
                    data-vv-name="youtube_url"
                  />
                </fieldset>
              </v-form>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>

      <v-card-actions>
        <v-spacer />
        <v-btn flat @click="close">
          Close
        </v-btn>

        <v-btn v-if="isEditable"
               color="primary"
               @click="save"
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { Validator } from 'vee-validate'
import axios from 'axios'
import { mapGetters } from 'vuex'

export default {
  $_veeValidate: {
    validator: 'new',
  },
  data () {
    return {
      item: {},
      originalItem: {},
      isOpen: false,
      valid: false,
      resolve: null,
      reject: null,
      loading: false,
    }
  },
  computed: {
    isNew () {
      return !this.item.id
    },
    ...mapGetters({
      isEditable: 'channels/canSave',
    }),
  },

  mounted() {
    const isUnique = async (email, [id]) => {
      const { data } = await axios.post('/api/v1/validation/check_email', {
        email,
        id,
      })
      return data
    }
    Validator.extend('unique', {
      validate: isUnique,
      getMessage: (field, params, data) => data.message,
    })
  },

  methods: {
    open (item) {
      this.$validator.reset()

      this.item = { ...item }
      this.isOpen = true

      this.originalItem = item || {}
      this.item = Object.assign({}, item)

      return new Promise((resolve, reject) => {
        this.resolve = resolve
        this.reject = reject
      })
    },

    close () {
      this.isOpen = false
      this.resolve()
    },

    async save () {
      await this.$validator.validateAll()

      if (this.$validator.errors.any()) {
        return
      }

      this.loading = true

      try {
        const result = await this.$store.dispatch('channels/save', this.item)
        Object.assign(this.originalItem, result)
        this.item = Object.assign({}, result)
        this.resolve(result)
        this.close()
      } catch (e) {
        this.$toast.error('Unknown error')
      } finally {
        this.loading = false
      }
    },
  },

}
</script>

<style scoped lang="stylus">
  fieldset
    border none
</style>
